body {
	padding: 0px;
	margin: 0px;
}
h1 {
    border-bottom: 2px solid grey;
    color: #192d6c;
    font-size: 24px;
	margin-bottom: 0px;
	padding-left: 30px;
}
h2 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 20px;
}
table  {
	border-top: 1px solid #192d6c;
	margin-top: 10px;
}
th, td  {
    border: 0px;
}
b {
	color: #192d6c;
}
#table, #mapping {
	float: left;
	width: 550px;
	padding-bottom: 30px;
	padding-left: 60px;
}
#grad {
	padding-top: 25px;
    height: 200px;
    background: -webkit-linear-gradient(lightgrey, rgba(150,150,150,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightgrey, rgba(150,150,150,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightgrey, rgba(150,150,150,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightgrey, rgba(150,150,150,0)); /* Standard syntax (must be last) */
}