body {
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
}
h1 {
    border-bottom: 2px solid grey;
    color: #192d6c;
    font-size: 24px;
	margin-bottom: 0px;
	padding-left: 30px;
}
h2 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 20px;
}
a {
    color: #192d6c;
	text-decoration: none;
}
a.link:hover {
	color: #3f8bc7;
}
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd)	{
    background-color: #ffffff;
}
table tr:nth-child(even) {
    background-color: #f1f1f1;
}
table tr:nth-child(1)	{
    background-color: #192d6c;
	color: #f1f1f1;
	font-weight: bold;
}
#table {
	float: left;
	width: 550px;
	padding-bottom: 30px;
	padding-left: 60px;
}
#grad {
	padding-top: 25px;
    height: 200px;
    background: -webkit-linear-gradient(lightgrey, rgba(150,150,150,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightgrey, rgba(150,150,150,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightgrey, rgba(150,150,150,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightgrey, rgba(150,150,150,0)); /* Standard syntax (must be last) */
}