extends layout

block content
	link(rel='stylesheet', href='/stylesheets/newuser.css')
	script(src='//code.jquery.com/jquery-1.11.0.min.js')
	script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
	script(type='text/javascript').
		// fill the form with the existing information
		function load() {
			document.getElementById("source").value="moo";
			document.getElementById("Trello").selected = true;
			//document.getElementById("defectBox").checked = true;
		}
		window.onload = load;
		// show the fields for the mapping
		$(document).ready(function() {
			$('#mapping tr').hide();
			$('#butMapping').click(function() {
				$('#mapping tr').show('slow', function() {
				// Animation complete.
				});
			});
		});
		// check if the section "type" is filled the right way
		function myFunction() {
			var defectBox = document.getElementById("defectBox").checked;
			var defect = document.getElementById("defect").value=="";
			var roadmapBox = document.getElementById("roadmapBox").checked;
			var roadmap = document.getElementById("roadmap").value=="";
			var ciBox = document.getElementById("ciBox").checked;
			var ci = document.getElementById("ci").value=="";
			if(defectBox && defect || roadmapBox && roadmap || ciBox && ci) {
				alert("In the section \"type\" you activated a checkbox without providing the mapping. Please write the corresponding term in the field or uncheck the checkbox.");
				return false;
			} else {
				return true;
			}
		}
	h1= title
	div(id='grad')
		form(name="adduser", id="adduser" method="post", action="/adduser")
			div(id='table')
				h2.
					User
				table(width="100%")
					tr
						td(width="25%")
							b Source
						td(width="35%") company 
							b *
						td(width="40%")
							input(type="text", name="source", id="source", required)
					tr
						td
						td tool 
							b *
						td
							select(name="sourceSystem", id="sourceSystem", required)
								option(selected disabled hidden value='')
								option(value='Trello' id='Trello') Trello
								option(value='Zendesk' id='Zendesk') Zendesk
					tr
						td
							button(id='butMapping') go >>
						td
						td
				div(id='mapping' style='padding-left:0px')
					h2(style='padding-top:25px').
						Tool
					table(width="100%")
						tr
							td(width="25%")
								b Credentials
							td(width="35%") token 
								b *
							td(width="40%")
								input(type="text", name="token", required)
						tr
							td
							td user 
								b *
							td
								input(type="text", name="user", required)
						tr
							td
							td password 
								b *
							td
								input(type="text", name="password", required)
						tr
							td
							td url 
								b *
							td
								input(type="text", name="url", required)
					table(width="100%")
						tr
							td(width="25%")
								b Type
							td(width="35%")
								input(type="checkbox", name="cb_defect", id="defectBox")
								| defect
							td(width="40%")
								input(type="text", name="defect", id="defect")
						tr
							td
							td
								input(type="checkbox", name="cb_roadmap", id="roadmapBox")
								| roadmap
							td
								input(type="text", name="roadmap", id="roadmap")
						tr
							td
							td
								input(type="checkbox", name="cb_customerIndividual", id="ciBox")
								| customer individual
							td
								input(type="text", name="customerIndividual", id="ci")
			div(id='mapping')
				h2.
					Mapping
				table(width="100%")
					tr
						td(width="25%")
							b Ticket Statuses
						td(width="35%") new
						td(width="40%")
							input(type="text", name="new")
					tr
						td
						td validation
						td
							input(type="text", name="validation")
					tr
						td
						td assigned
						td
							input(type="text", name="assigned")
					tr
						td
						td on hold
						td
							input(type="text", name="onHold")
					tr
						td
						td working
						td
							input(type="text", name="working")
					tr
						td
						td delivered
						td
							input(type="text", name="delivered")
					tr
						td
						td closed
						td
							input(type="text", name="closed")
					tr
						td
						td declined
						td
							input(type="text", name="declined")
				table(width="100%")
					tr
						td(width="25%")
							b Priority Statuses
						td(width="35%") low
						td(width="40%")
							input(type="text", name="low")
					tr
						td
						td standard
						td
							input(type="text", name="standard")
					tr
						td
						td high
						td
							input(type="text", name="high")
					tr
						td
						td urgent
						td
							input(type="text", name="urgent")
				table(width="100%")
					tr
						td(width="25%")
							b Label Types
						td(width="35%") assembly
						td(width="40%")
							input(type="text", name="assembly")
					tr
						td
						td QA
						td
							input(type="text", name="qa")
				table(width="100%")
					tr
						td(width="25%")
							b Ticket Types
						td(width="35%") issue
						td(width="40%")
							input(type="text", name="issue")
					tr
						td
						td incident
						td
							input(type="text", name="incident")
					tr
						td
						td question
						td
							input(type="text", name="question")
					tr
						td
						td task
						td
							input(type="text", name="task")
				table(width="100%" style="border:0px")
					tr
						td(width="25%")
							button(type="reset") reset
							button(type="submit" onclick="return myFunction()") submit
						td
							b * 
							i = required